/* Oculta los textos de ayuda por defecto y aplica color rojo cuando se muestran */
small.form-text.help-text {
    display: none;
    color: #dc3545; /* rojo - clase danger de bootstrap */
    margin-top: .25rem;
}

/* clase para forzar visibilidad desde JS */
small.form-text.help-text.visible {
    display: block !important;
}
